extends ../base

block content
    div
        button#startRecord Start Record
    if errorMessage 
        span errorMessage
    form(method="POST",enctype="multipart/form-data").upload__form.upload-video__form
        label(for="video") Upload video &rarr;
        input(type="file",name="video",id="video",accept="video/*",required) 
        input(type="text" placeholder="Title" required name="title")
        input(type="text" placeholder="Description" required name="description")
        input(type="text" placeholder="Hashtags, seperated by comma." required name="hashtags")
        input(type="submit" value="Upload Video") 

    block script 
        script(src="/static/js/recorder.js") 