mixin videoMixin(video)
    h4 
        a(href=`/videos/${video.id}`)=video.title
    ul 
        li=video.description
    div  
        each hashtag in video.hashtags 
            span=hashtag
    small=video.creatAt
    hr
            