.edit-profile__form {
  label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
  }
  input[type="file"] {
    display: none;
  }
}
.edit-profile__password {
  margin-top: 50px;
  text-align: center;
  a {
    text-decoration: underline;
  }
}
