.social-login {
  border-top: 1px solid rgba($color: #ffffff, $alpha: 0.2);
  margin-top: 50px;
  padding-top: 50px;
  .social__btn--github {
    background-color: transparent;
    color: ghostwhite;
    border: 1px solid rgba($color: #ffffff, $alpha: 0.2);
  }
}
