//video mixins
.video-mixin {
  .video-mixin__thumb {
    height: 140px;
    border-radius: 7px;
    width: 100%;
    background-color: blanchedalmond;
  }
  .video-mixin__data {
    padding: 0px 15px;
    .video-mixin-title {
      font-size: 18px;
      display: block;
      margin-top: 10px;
    }
    .video-mixin-meta {
      margin-top: 6px;
      font-size: 12px;
    }
  }
}
