
extends base.pug
include mixins/video.pug


block content
    h3 
        nav 
            a(href="/videos/upload") Upload Viedo.
   
    each video in videos 
        div
            +videoMixin(video)
    else
        li Sorry nothing found.

          

