
extends base
include mixins/video


block content
    h3 
        nav 
            a(href="/videos/upload") Upload Viedo.
    div.video-grid
        each video in videos 
            +video(video)
           

        else
            span.emtpy__message No video found

          

